<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>yikyak</title>
</head>
<body>
  
  <!-- React -->
  <div id="root">
    {{{body}}}
  </div>
  
  <!-- filepath relative 'public' bc serving express static public -->
  <script src="/build/bundle.js"></script> 
</body>
</html>